@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
:root{
    --white-color: rgb(255, 255, 255);
    --button-color: rgb(23, 96, 7);
    --brand-color: linear-gradient(to right, #009CAA 10%, #00CADD 100%);
    --Icon-color: #FF6B6B;
}
body{
    font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    color: black;
    font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* new */

.navbar-1{
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px 40px; */
    padding: 10px 20px;
    box-sizing: border-box;
    object-fit: contain;

   
}

.logo-text{
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    color: var(--white-color)
}
/* Search input */
.search-iput-container{
    display: none;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 0;
    height: 30px;
    padding: 12px 12px;
    transition: width 0.4s ease-in-out;
}
.search-iput-container:activate{
    width: 330px;
}
.search-iput-container input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-iput-container svg{
    cursor: pointer;
}



.cartIcon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100px; */
    /* overflow: hidden; */
}
.cartIcon .cart-counter{
    position: absolute; 
    bottom: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 12px; */
   
    font-size: 0.3rem;
    background: var(--brand-color);
    width: fit-content;
    height: 20px;
    font-size: 0.9rem;
    padding: 5px;
    border-radius: 50%;
    font-weight: 500;
    color: white;
}







.navbar-2{
    background: var(--brand-color);
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 20px 40px; */
    padding: 10px 20px;
    box-sizing: border-box;
    object-fit: contain;
}

.navbar-2 .nav-links, .sign-in-btn{
    display: none;


}
.navbar-2 .nav-links, .sign-in-btn .click-to-sign-up{
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.navbar-2 .nav-links .home-nav-link{
    margin-left: 50px; 
    font-weight: 600;
    color: white;
    text-decoration: none;
    position: relative;
}
.navbar-2 .nav-links .home-nav-link::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 0;
    height: 2px;
    left: 0;
    top: 100%;
    background-color: white;
    transition: .4s;
}
.navbar-2 .nav-links .home-nav-link:hover::before{
    width: 100%;
}
.navbar-2 .Categories-selection{
    background-color: transparent;
    color: white;
    font-weight: 800;
    outline: none;
    border: none;
}
.navbar-2 .handburger-menu{
    cursor: pointer;
}
.Hero-section{
    background-image: url('./assets/products/hero.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.homepage-containe-div{

}
.hero-text{
    text-align: center;
    padding: 25px;
    
}
.cathy-text{
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}
.sub-catchy-text{
    font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    color: #666666;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.277);
}


.hero-text .discount-notfication-text{
    font-weight: 400;
    color: #009CAA;
}
/* shop now button */
.Shop-now-btn{
    background: var(--brand-color);
    border-radius: 10px;
    cursor: pointer;
    /* text-align: center; */
    max-width: 120px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

}
.Shop-now-btn button{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

}

.m-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 32px auto;
    /* margin-bottom: 32px; */
}
.m-main .cols{
    text-align: center;
    margin-bottom: 42px;
}
.m-main .cols p{
    color: #666666;
    font-weight: 300;
}

.productPage{
    background-color: #E0E0E0;
    padding-top: 34px;
}
.productPage .cols{
    text-align: center;
    padding: 35px;
}
.productPage .cols h3{
    font-size: 24px;
}
.productPage .cols p{
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}


/* product card styling */
.card-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display: flex; */
}
.product-card .cardm{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 4px;
    width: 260px;
    height: 310px;
    overflow: hidden;
    background-color: var(--white-color);
    border-radius: 8px;
    margin-bottom: 12px;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.product-card .cardm .product-image-div{
    background-color:#DDDDDD;
    border-radius: 8px;
    padding: 0 auto;
    text-align: center;
    height: 210px;
    object-fit: contain;
    overflow: hidden;
}
.product-card .cardm .product-image-div img{
    width: 80%;
    padding-top: 12px;
    /* Adjust ratio based on your image */
  height: auto;

}
.add-to-cart-btn button{
    font-family: "Open Sans", sans-serif; 
    font-weight: 300;
    margin: -10px auto;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */
    
    padding: 12px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    cursor: pointer;
}
.add-to-cart-btn button span{
    margin-right: 12px;
    font-size: 14px;
}
.price-prod-name{
    margin: 10px auto;
    text-align: center;
}
.price-prod-name .product-name{
    font-weight: 400;
    margin-top: 12px;
}
.price-prod-name .product-price{
    color: #891F1F;
    margin-top: 2px;
    font-weight: 300;
}

/* product card like icon */
.like-container{
    width: 100%;
    padding: 12px;
    position: absolute;
    background-color: var(--Icon-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 14px;
    top: 14px;
}
    /* product card styling */
.scoll-up-btn{
    outline: none;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin: 4px auto;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    place-items: center;
}

.Newsletter-container{
    text-align: center;
    padding: 24px;
    color: var(--white-color);
    background: var(--brand-color);

}
.news-lre{
    margin: 12px auto;
    /* width: 300px; */
}
.to-our-news-letter{
    font-size: 2.2rem;
}
.subscribe-to-news-letter{
    font-weight: 300;
}
.Newsletter-container .enter-email-subscribe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    width: 100%;
    height: 45px;
    background-color: #E0E0E0;
    padding: 3px;
}
.Newsletter-container .enter-email-subscribe input{
    width: 80%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #333333;
    padding: 12px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}
.Newsletter-container .enter-email-subscribe input:focus{
    outline: none;
}
.Newsletter-container .enter-email-subscribe button{
    cursor: pointer;
    outline: 12px solid green;
    width: 95px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: var(--Icon-color);
    border-radius: 22px;
}
.footer-container-div{
    background-color: black;

}
.footer-section{
    display: grid;
    color: var(--white-color);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
   
}
.transaction-card{
    display: flex;
    /* flex-direction: column; */
    width: 200px;
    object-fit: contain;
    
}
.transaction-card img{
    width: 50px;
    margin-right: 12px;
}
/* TABLET RESPONSIVENESS STYLING */
@media (min-width: 415px) and (max-width: 768px){
    .navbar-2 .nav-links .home-nav-link{
        margin-left: 30px;
    }
    .navbar-2 .nav-links, .sign-in-btn{
        display: flex;
    }
    /* handburger menu */
    .navbar-2 .handburger-menu{
        display: none;
    }
    .Hero-section{
        position: relative;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 24px;

        
    }
    .logo-text{
        /* display: flex; */
    }
    .search-iput-container{
        display: flex;
        /* width: 400px; */
        height: 40px;
        margin: 12px auto;
    }
    .hero-text{
        padding: 20px 60px;
    }
    .m-main{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        
    }
    .Shop-now-btn {
        align-items: flex-end;
    }

    .card-container{
        display: grid;
        margin-top: 0 !important;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    

    .Newsletter-container .enter-email-subscribe{
        width: 400px;
        margin: 12px auto;
    }
   
    .news-lre{
        margin: 12px auto;
        width: 100%;
    }
    .hero-text .discount-notfication-text{
        font-size: 1.2rem;
    }



    .footer-container-div{
        background-color: black;
    
    }
    .footer-section{
        display: grid;
        grid-template-columns: 1fr ;
        padding-bottom: 70px;
        
       
    }
    .transaction-card{
        display: flex;
        width: 200px;
        object-fit: contain;
        
    }
    .transaction-card img{
        width: 50px;
        margin-right: 12px;
    }
}
    

/* DESKTOP SCREENS */
@media (min-width: 769px){
    .Hero-section{
        height: 500px;
        background-position: center;
        background-size: cover;
        padding: 24px;
        padding-top: 53px;
    }
    .hero-text .discount-notfication-text{
        font-size: 2rem;
    }
    .navbar-1, .navbar-2{
        padding: 20px 80px;
    }
    .navbar-2 .nav-links, .sign-in-btn{
        display: flex;
    }
    .navbar-2 .handburger-menu{
        display: none;
    }
    .search-iput-container{
        display: flex;
        width: 330px;
        height: 40px;
    }
    .hero-text{
        padding: 20px 60px;
    }
    .m-main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 40px;
        padding: 0 auto;
    }
    .productPage{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 10px !important;
    }
    .card-container{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 70px;
        margin-right: 70px;
        align-items: center;
        justify-content: center;
        /* margin: 100px auto; */
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .Newsletter-container .enter-email-subscribe{
        width: 600px;
        margin: 12px auto;
    }

    .news-lre{
        margin: 12px auto;
        width: 100%;
        margin-bottom: 16px;
    }
    .news-lre h1, p{
        margin-bottom: 12px;
    }
    .hero-text{
        text-align: left;
        width: 700px;
        /* margin: 34px; */
    }
    .hero-text .cathy-text{
        font-size: 4rem;
        line-height: 80px;
        width: 700px;
    }
    .sub-catchy-text{
        width: 350px;
        font-size: 1.2rem;
    }
    .Shop-now-btn{
        float: left;
        width: 300px;
        height: 40px;
    }



    .footer-container-div{
        background-color: black;
    
    }
    .footer-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: var(--white-color);
        padding-top: 70px;
        padding-bottom: 70px;
        margin-left: 70px;
        margin-right: 70px;
        text-align: left;
       
    }
    .transaction-card{
        display: flex;
        width: 200px;
        object-fit: contain;
        
    }
    .transaction-card img{
        width: 50px;
        margin-right: 12px;
    }
    
}